.idea
.vagrant
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
#/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
/ubuntu-xenial-16.04-cloudimg-console.log
